.lang {
  position: relative;

  &__btn {
    height: 40px;
    width: 80px;
    border-radius: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    background-color: white;
    position: relative;

    & span {
      z-index: 3;
      font-weight: bold;
    }

    & svg {
      margin-left: auto;
      z-index: 3;
    }
  }

  &__list {
    position: absolute;
    width: 80px;
    top: 20px;
    left: 0;
    padding: 20px 16px 10px;
    border: 1px solid black;
    border-radius: 0 0 20px 20px;
    display: grid;
    row-gap: 5px;
    background-color: white;
    border-top: none;
    transform: scaleY(0);
    transition: all .3s;
    transform-origin: top;

    &--open {
      transform: scaleY(100%);
    }

    & li:hover {
      font-weight: bold;
    }
  }

  &__dropdown {
    transition: all .3s;
    transform-origin: center;

    &--open {
      transform: rotateX(180deg);
    }
  }

  & .active {
    font-weight: bold;
    color: $violet;
  }
}
