.page {
  font-family: Montserrat, sans-serif;
  scroll-behavior: smooth;

  &-menu {
    opacity: 0;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 4;
    transform: translate(-100%);
    transition: all 0.3s;
    pointer-events: none;
    width: 100%;
    background-color: white;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;

      @include on-desktop {
        transform: translateX(-100%);
      }
    }
  }

  &:has(.page-menu:target) {
    overflow: hidden;
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  position: relative;
}

.container {
  padding-inline: $mobile-padding;

  @include on-tablet {
    padding-inline: $tablet-padding;
  }

  @include on-desktop {
    max-width: $desktop-max-width;
    margin: 0;
    margin-inline: auto;
    padding-inline: $desktop-padding;
  }
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Museo Sans Cyrl', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  cursor: inherit;
  font-family: inherit;
  user-select: none;
  box-sizing: border-box;
}

.logo {
  font-size: 15px;
  font-weight: 900;
  display: flex;
  height: 28px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
.font-museo {
  font-family: 'Museo Sans Cyrl', sans-serif;
}

.title-section {
  font-size: 40px;
  line-height: 44px;

  @include on-tablet {
    line-height: 66px;
    font-size: 56px;
  }
}

.fz-18 {
  font-size: 18px;
  color: $light-gray;
  line-height: 30px;
}

.fz-16 {
  font-size: 16px;
  color: $light-gray;
  line-height: 27px;
}

.fz-18-bold {
  font-size: 18px;
  color: $dark-gray;
  line-height: 30px;
}

.fz-24-bold {
  font-size: 24px;
  font-weight: bold;
  color: $dark-gray;
  line-height: 100%;
}

.fz-15-bold {
  font-size: 15px;
  font-weight: bold;
  color: $dark-gray;
  line-height: 100%;
}
