.people {
  margin-top: 80px;

  @include on-tablet {
    margin-top: 120px;
  }

  @include on-desktop {
    margin-top: 140px;
  }

  &__wrapper {
    @include on-desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    @include on-desktop {
      max-width: 509px;
    }
  }

  &__span {
    background-color: $bg;

    @include on-desktop {
      display: inline-block;
      width: 355px;
    }
  }

  &__content {
    & .pagination {
      display: none;

      @include on-desktop {
        display: flex;
        gap: 16px;
        margin-top: 39px;
      }
    }
  }

  &__arrow {
    height: 48px;
    width: 48px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    display: grid;
    place-content: center;

    &:hover {
      border: 1px solid $violet;
    }
  }

  &__slider {
    position: relative;
    overflow: hidden;

    & .pagination {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      bottom: 0;

      @include on-tablet {
        top: 50%;
        transform: translateY(-50%);
      }

      @include on-desktop {
        display: none;
      }
    }
  }

  &__track {
    display: flex;
    transition: transform 0.5s ease;
    width: 300%;
  }

  &__slide {
    width: 100%;
    display: flex;
    justify-content: center;

    @include on-desktop {
      justify-content: end;
    }

  }
  
  &__persona {
    display: flex;
    margin-top: 32px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @include on-tablet {
      margin-top: 48px;
    }

    @include on-desktop {
      flex-direction: row;
      margin-left: 48px;
      margin-top: 0;
      justify-content: start;
    }
  }

  &__info {
    @include on-desktop {
      margin-left: 30px;
    }
  }

  &__quote {
    display: flex;
    margin-top: 16px;
    gap: 16px;
    flex-direction: column;
    align-items: center;

    & p {
      max-width: 585px;
    }

    & img {
      object-fit: contain;
      width: 33px;
      height: 27px;
    }

    @include on-desktop {
      flex-direction: row;
    }
  }

  &__date {
    margin-top: 39px;
    color: $violet;
    text-align: center;

    @include on-tablet {
      margin-top: 32px;
    }

    @include on-desktop {
      margin-left: 48px;
      text-align: left;
    }
  }
}
