$desktop-max-width: 1440px;
$small-desktop-min-width: 1024px;
$tablet-min-width: 768px;
$mobile-padding: 20px;
$tablet-padding: 40px;
$desktop-padding: 120px;
$light-gray: #4F4F4F;
$dark-gray: #333;
$violet: #6248FF;
$bg: #F0EDFF;